.navigation {
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: end;
  position: sticky;
  bottom: 0;
  background-color: white;
}

.navigation__pagination {
  display: grid;
  place-items: center;
}
